---
---

@import "{{ site.theme }}";
body {
  background-color: black;
  color: white;
}

.wrapper h1{
  color: lawngreen;
}

a {
  color: lawngreen;
}

a small{
  color: white;
}

h2, h3, h4, h5, h6{
color: yellow; 
}
